<h1><%= @product_model.name %></h1>

<%= @product_model.weight %> gramas
Dimensões: <%= @product_model.dimensions %>
SKU: <%= @product_model.sku %> 
Fornecedor: <%= @product_model.supplier.fantasy_name %>