<h1><%= @product_model.name %></h1>

<%= @product_model.weight %> gramas
Dimensões: <%= @product_model.dimensions %>
SKU: <%= @product_model.sku %> 
Fornecedor: <%= @product_model.supplier.fantasy_name %>
Categoria: <%= @product_model.category.name if @product_model.category %>

<%= link_to 'Editar', edit_product_model_path %>