<h1>Resultados da busca</h1>

<ul>
  <% if @warehouses.empty?  %>
    <h2>Nenhum galpão encontrado</h2>
  <% else %>
    <% @warehouses.each do |warehouse| %>
      <li>
        <%= link_to(warehouse.name, warehouse_path(warehouse.id)) %> <br/>
        <%= warehouse.code %>, <%= warehouse.city %>/<%= warehouse.state %> <br/>
        <%= warehouse.description %>
      </li>
    <% end %>
  <% end %>
</ul>