<h1><%= @supplier.fantasy_name %></h1>

<dl>
  <dt>Nome Fantasia</dt>
  <dd><%= @supplier.fantasy_name %></dd>

  <dt>Razão Social</dt>
  <dd><%= @supplier.legal_name %></dd>

  <dt>CNPJ</dt>
  <dd><%= @supplier.cnpj %></dd>

  <dt>E-mail</dt>
  <dd><%= @supplier.email %></dd>

  <dt>Produto</dt>
  <dd><%= @supplier.product %></dd>

  <dt>Telefone</dt>
  <dd><%= @supplier.telephone %></dd>
</dl>

<h2>Produtos deste fornecedor:</h2>

<table>
  <tr>
    <th>Produto</th>
    <th>SKU</th>
  </tr>

  <% @supplier.product_models.each do |p| %>
  <tr>
    <td><%= link_to(p.name, product_model_path) %></td>
    <td><%= p.sku %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Voltar', root_path %>