<h1><%= @warehouse.name %></h1>
<h2><%= @warehouse.code %></h2>

<dl>
  <dt>Descrição</dt>
  <dd><%= @warehouse.description %></dd>

  <dt>Endereço</dt>
  <dd><%= @warehouse.address %> - <%= @warehouse.city %>/<%= @warehouse.state %></dd>

  <dt>CEP:</dt>
  <dd><%= @warehouse.postal_code %></dd>

  <dt>Área Total:</dt>
  <dd><%= @warehouse.total_area %> m2</dd>

  <dt>Área Útil:</dt>
  <dd><%= @warehouse.useful_area %> m2</dd>

  <dt>Categorias:</dt>
  <% @warehouse.warehouse_categories.each do |c| %>
    <dd><%= c.category.name %></dd>
  <% end %>
</dl>

<h2>Estoque</h2>

<% @items = @warehouse.product_items.group(:product_model).count %>
<% @items.each_pair do |product_model, quantity|%>

  <div id="product-<%= product_model.id %>">
    <%= product_model.name %>
    Quantidade: <%= quantity %>
  </div>

<% end %>

<h2>Entrada de Itens</h2>
<%= form_with(url: product_items_entry_path) do |f| %>
  <%= f.hidden_field :warehouse_id, value: @warehouse.id %>

  <div class="form-group">
    <%= f.label :quantity, 'Quantidade:', class: 'form-check-label' %>
    <%= f.number_field :quantity %>
  </div>

  <div class="form-group form-check">
    <%= f.label :product_model_id, 'Produto:', class: 'form-check-label' %><br/>
    <%= f.collection_select :product_model_id, ProductModel.all, :id, :name %>
  </div>

  <%= f.submit 'Confirmar', class: 'btn btn-primary' %>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Editar', edit_warehouse_path %>
<% end %>
<%= link_to 'Voltar', root_path %>