<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <nav class="navbar">
        <%= link_to 'Início', root_path, class: 'nav-link' %>
        <%= link_to 'Fornecedores', suppliers_path, class: 'nav-link' %>
        <%= link_to 'Categorias', categories_path, class: 'nav-link' %>

        <% if user_signed_in? %>
          <%= link_to 'Cadastrar novo galpão', new_warehouse_path, class: 'nav-link' %>
          <%= link_to 'Cadastrar novo fornecedor', new_supplier_path, class: 'nav-link' %>
          <%= link_to 'Criar novo kit de produtos', new_product_bundle_path, class: 'nav-link' %>
          <%= link_to 'Cadastrar modelo de produto', new_product_model_path, class: 'nav-link' %>
          <%= link_to 'Cadastrar categoria', new_category_path, class: 'nav-link' %>
          <%= link_to 'Entrada de Itens', product_items_entry_path, class: 'nav-link' %>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          Olá, <%= current_user.email %>
        <% else %>
          <%= link_to 'Entrar', new_user_session_path, class: 'nav-link' %>
        <% end %>
      </nav>
    </header>
    <main class="container">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= yield %>
    </main>
  </body>
</html>
